* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
    background-color: #e8e8e8;
}

header {
    display: inline-block; 
    width: 100%;
    height: 8rem;
    padding-top: 20px;
    padding-left: 6rem;
    font-family: serif;
    background: white;
}

header h1 {
    display: inline-block;
    font-size:6rem;
}

ul {
   
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    list-style-type: none;
    margin-right: 20px;
    
    float: right;
    display: inline;
    margin-left: 25px;
    /*padding-top: ;  */
}

/* Sets clickable links style */
a { 
    display: inline-block;
    text-decoration: none;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3rem;
    list-style-type: none;
    margin-top: -1rem;
    margin-right: 20px;
    padding-top: 3rem;
    
}

.moto {
    background-image: url("../images/stone.jpg");
    height: 6rem;
    background-size: cover;
}

.prework {
    height: 600px;
    display: block;
    margin: auto;
    
}

.landing {
    scale:1em;
    position: relative;
}

.horiseon {
    height: 30px;
    position: relative;
}